Format Plugin/Tutorial: http://www.qgis.org/en/docs/pyqgis_developer_cookbook/plugins.html

Qt-Tutorial: http://zetcode.com/gui/pyqt4

Compiling:
=========

Bevor Plugin in Qgis ausgeführt werden kann, muss die veränderte ui und rec datei neu kompiliert werden, batch a la
compile im plugin ordner dazu verwenden (tools in Pfad aufnehmen)

